name: lab1
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  url_launcher: ^6.1.0
  intl: ^0.19.0
  cupertino_icons: ^1.0.8
  provider: ^6.0.5
  firebase_core: ^3.15.2
  cloud_firestore: ^5.6.12
  firebase_messaging: ^15.2.10
  flutter_local_notifications: ^14.0.0




dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
